html, body
{
  color: #FFFFFF;
  background-color: #080808;
  font-family: 'Exo 2', sans-serif;
/*  overflow: hidden; */
}

a
{
  color: #AAAAFF;
}

a:visited
{
  color: #999999;
}

div.playfield
{
  position:absolute;
  left: 0;
  top: 0;
  z-index: 1;
  max-width 100%;
  max-height 100%;
}

img.deck
{
  position:absolute;
  max-width:20.882vw;
  max-height:50vh;
  left: 45vw;
  top: 150vh;
  z-index: 15;
}

